body{
    background: url(IMAGES/shopping-back.png) no-repeat;
    background-size: cover;
    color: ;
}

.form{
    margin: auto !important;
    width: 80%;
    margin-left: 50px;
    background-color:rgb(201, 204, 204) ;
}
#us{
    //margin-left: 40px;
    padding-top: 15px;
    //text-decoration: underline;
    font-family: 'Sacramento', cursive; 
}
#us::first-letter{
    font-size: 50px;
}
h3{
    margin-left: 45px;
    text-decoration: underline;
}
.lab{
    margin-left: 50px;
    font-weight: bold;
}
.in{
    border-radius: 10px;
    border: 2px solid rgb(187, 179, 179);
    height: 25px;
    width: 250px;
    margin-left: 30px;
    margin-top: 7px;
}
.nm{
    margin-left:50px !important ;
}
.gender{
    margin-left: 55px;
}
.hoby{
    margin-left:55px;
    margin-top: 25px;
}
.text{
    border-radius: 10px;
    border: 2px solid rgb(187, 179, 179);
    margin-left: 28px;
}
.code{
    margin-top: 10px;
}
.btnn{
   
    margin:10px 0px 0px 180px ;
    height: 30px;
    width: 150px;
    border: 2px solid rgb(187, 179, 179);;
    border-radius: 7px; 
}
.dont{
    margin-top: 32px;
    color: gray;
}
.reg{
    margin-top: 32px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 0px;
}
.home{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border: 2px solid rgb(187, 179, 179);;
    border-radius: 7px; 
}



